[Unit]
Description=Mount bind mounts
After=local-fs.target remote-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/mount-binds

[Install]
WantedBy=sysinit.target
